.main-wrapper {
  opacity: 0;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-hidden:nth-child(n + 1) {
  margin-bottom: -0.15em;
}

h1 .loading-animation-split {
  line-height: 1.2;
}

p .loading-animation-split {
  line-height: 1.5;
}

.navbar .navbar--logo-link,
.navbar .menu--trigger,
.navbar .btn.is--navbar {
  color: inherit;
  border-color: inherit;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.38, 0.005, 0.215, 1);
}
.navbar--line {
  background-color: currentColor;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.38, 0.005, 0.215, 1);
}
.navbar.is--scrolled {
  background-color: var(--white);
  color: var(--black);
  border-color: var(--black);
}

a {
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.38, 0.005, 0.215, 1);
}

.section.is--hero {
  min-height: calc(100vh - 80rem - 56rem);
}
