.main-wrapper {
  opacity: 0;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-hidden:nth-child(n + 1) {
  margin-bottom: -0.15em;
}

h1 .loading-animation-split {
  line-height: 1.2;
}

p .loading-animation-split {
  line-height: 1.5;
}
